.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0 auto;
  padding: 0;
  border:none;
  list-style: none;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}